h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 21030302203. Seleccionar los criterios de medición para los hechos económicos según la política contable establecida por la empresa.