.container
    .header-ecored
        h1 1. Efectivo y equivalentes al efectivo
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-10
                .jumbotron.text-sup2.px-3.py-3 
                    p Continúemos avanzando con entusiasmo y motivación en la formación, para fortalecer los conocimientos sobre el proceso contable, mediante la aplicación de los criterios de reconocimiento, medición, presentación, revelación del efectivo y equivalentes de efectivo.
        p.mt-5 En la presente unidad se analizarán las siguientes temáticas: 
        .row.justify-content-center.align-items-center
            .col-12.col-md-10               

                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt    
                        p.mb-0 Efectivo y equivalentes al efectivo.
                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1.1
                    .list__txt    
                        p.mb-0 Política contable.
                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1.2
                    .list__txt    
                        p.mb-0 Reconocimiento, medición, presentación y revelación.
                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1.3
                    .list__txt    
                        p.mb-0 Arqueo de caja.
                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1.4
                    .list__txt    
                        p.mb-0 Conciliación Bancaria.
                hr                
                .list
                    .list__item
                        .list__item__number
                            span 1.5
                    .list__txt    
                        p.mb-0 Ajuste por diferencia en cambio.
                hr

        .sub-ecored.mt-5
            h2 Efectivo y equivalentes al efectivo
        p.mt-5 Las empresas en el desarrollo normal de sus operaciones deben aplicar criterios y lineamientos para el adecuado manejo del efectivo y sus equivalentes. El objetivo es tener la habilidad para tomar decisiones que aumenten la capacidad de generar liquidez y, de esta manera, atender las necesidades de la organización o, en su defecto, realizar inversiones que generen rentabilidad. El efectivo y equivalentes al efectivo pertenecen al activo corriente del estado de la situación financiera.

        p Teniendo en cuenta lo anterior, es importante conocer su clasificación; por ende, se analizarán los conceptos necesarios que permitan continuar con los lineamientos para el diseño de políticas contables que le conciernen:

        .jumbotron.bg-1.mt-5    
            h3.text-blue Efectivo
            p.mt-5 Hace referencia al dinero que se encuentra en caja general, caja menor y en las entidades financieras, que son de disponibilidad inmediata. A continuación, se presentan las definiciones de cada una de estas: 

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-4
                    img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
                    .hr-ecored 
                    p.mt-3 #[strong Caja general:] se refiere al dinero en efectivo con un valor monetario significativo, que cubre el pago de gastos operacionales, compra de inventarios, etc., registrando la transacción como una disminución del efectivo (crédito). De igual forma, se perciben ingresos ordinarios por la actividad que desarrolla la empresa, lo que constituye un aumento en el efectivo (débito).
                .col-12.col-md-4  
                    img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid 

                .col-12.col-md-4    
                    img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid
                    .hr-ecored 
                    p.mt-3 #[strong Bancos:] están constituidos por los depósitos en las cuentas de ahorros y corrientes, las cuales son administradas por las entidades financieras. Se presentan en moneda nacional o extranjera.
            .row.justify-content-center.align-items-center.mt-2
                .col-12.col-md-8
                    img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid
                    .hr-ecored 
                    p.mt-3 #[strong Caja menor:] las empresas constituyen el fondo de caja menor, de acuerdo con la política establecida y su cuantía depende del tipo de empresa. Es un fondo fijo que se contabiliza en el momento de su creación, aumento, disminución o eliminación. Su objetivo es manejar gastos de menor cuantía, por ende, siempre se maneja en efectivo para cubrir gastos menos representativos. 

        .jumbotron.bg-2.mt-5    
            h3.text.purple Equivalentes al efectivo                     
            p Este concepto hace énfasis a las inversiones a corto plazo (menor a 90 días), que tienen gran liquidez y se encuentran sujetas a un riesgo insignificante. Entre los equivalentes al efectivo encontramos las siguientes inversiones: Certificado de depósito a término (CDT), bonos y fiducia.

            p De acuerdo con la Norma Internacional de Contabilidad (NIC) 7 “Estados de flujos de efectivo”, expresa lo siguiente sobre los equivalentes al efectivo:

            .row.justify-content-center.align-items-center.mt-2
                .col-12.col-md-5
                    img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid

                .col-12.col-md-7
                 
                    hr                
                    .list
                        .list__item
                            .list__item__number
                                span 1
                        .list__txt    
                            p.mb-0 Un equivalente al efectivo no se tiene para propósitos de inversión, sino que su propósito es para cumplir los compromisos de pago a corto plazo.
                    hr                
                    .list
                        .list__item
                            .list__item__number
                                span 2
                        .list__txt    
                            p.mb-0 Debe poder ser fácilmente convertible a una cantidad determinada de efectivo.
                    hr                
                    .list
                        .list__item
                            .list__item__number
                                span 3
                        .list__txt    
                            p.mb-0 Debe estar sujeta a un riesgo insignificante de cambios en su valor.
                    hr                
                    .list
                        .list__item
                            .list__item__number
                                span 4
                        .list__txt    
                            p.mb-0 En el caso de inversiones, deben tener un vencimiento próximo de, al menos, tres meses o menos desde la fecha de adquisición.
                    hr                
                    .list
                        .list__item
                            .list__item__number
                                span 5
                        .list__txt    
                            p.mb-0 Los sobregiros bancarios, forman parte de la gestión del efectivo de la entidad (Varón, 2018, párr.5).
                    hr

        .jumbotron.bg-3.mt-5    
            h3.text-red Clasificación inversiones: 

            .jumbotron.bg-3-1  
                .row.justify-content-center.align-items-center.mt-2
                    .col-12.col-md-6
                        p De acuerdo con la intención de realización
                    .col-12.col-md-6
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top.mb-0 #[strong Inversiones Temporales: ]
                                p Son inversiones que se hacen efectivas en un periodo inferior a un año.
                        .hr-bottom.my-4
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top #[strong Inversiones Permanentes:]
                                p Su objetivo es mantenerlas hasta su vencimiento; es decir, no se espera convertirlas en efectivo antes un año.

            .jumbotron.bg-3-2  
                .row.justify-content-center.align-items-center.mt-2
                    .col-12.col-md-6
                        p De acuerdo con los rendimientos que generen
                    .col-12.col-md-6
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top.mb-0 #[strong Inversiones de renta fija: ]
                                p Son inversiones que su rendimiento no cambia durante su vigencia, es decir, siempre produce los mismos rendimientos.
                        .hr-bottom.my-4
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top #[strong Inversiones de renta variable: ]
                                p Son inversiones cuyos rendimientos dependen del mercado, es decir, que se encuentra asociado al comportamiento de la oferta y la demanda.


            .jumbotron.bg-3-3  
                .row.justify-content-center.align-items-center.mt-2
                    .col-12.col-md-6
                        p De acuerdo con el control que ejerzan sobre el ente emisor
                    .col-12.col-md-6
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top.mb-0 #[strong Inversiones de controlantes: ]
                                p Son aquellas que se realizan a fin de ejercer un control sobre el ente emisor.
                        .hr-bottom.my-4
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top #[strong Inversiones no controlantes: ]
                                p No existe control de un ente, es decir, se poseen menos del 50 % de participación.                               
        .sub-ecored.mt-5#11
            h2 1.1 Política contable
        p.mt-5 Las políticas contables son las bases, normas y procedimientos que debe tener en cuenta una entidad para la medición, presentación y revelación de los elementos de los Estados Financieros.

        p Así mismo, es importante definir las directrices para dar cumplimiento a dichos criterios, los cuales varían de acuerdo con el tipo de negocio y al entorno en el cual se desenvuelve.

        p En unidades anteriores, se abordó la temática de políticas contables, donde se hizo hincapié en el marco conceptual y el direccionamiento estratégico de la organización, con el fin de conocer la entidad y, de esta manera, continuar con las políticas de acuerdo con los elementos de los estados financieros.

        p Por lo anterior, para el diseño de políticas contables, del efectivo y sus equivalentes, es importante tener en cuenta, que estos hacen parte del activo; por ende, debe incluir como mínimo:

        .row.justify-content-center
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid    
                        p Reconocimiento de los activos: debe dar cumplimiento al concepto de activo, de acuerdo con los elementos que lo componen para el proceso de incorporación en el Estado de situación financiera.

                        p Recordemos que un activo es “un recurso controlado por la entidad como resultado de sucesos pasados, del que la entidad espera obtener, en el futuro, beneficios económicos” (Moncayo, 2016, párr.1).

                        p Los activos se reconocen en el momento que se presenta la transacción en efectivo o es transferido a una entidad financiera.
                                         

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img8.png").img-fluid    
                        p Medición: es el proceso mediante el cual se reconocen y registran contablemente los hechos económicos. Aquí se establece si la entidad, en el reconocimiento, medirá los activos a costo histórico o valor razonable teniendo en cuenta la moneda funcional y el hecho económico que se esté presentando, además de analizar las normas internacionales aplicables para seleccionar la base de medición más idónea para la empresa.  

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img9.png").img-fluid    
                        p Presentación: se define como el proceso mediante el cual se incorpora la información financiera y se presenta en los estados financieros para ser analizados por los usuarios de la información contable. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img10.png").img-fluid    
                        p Revelación: este proceso se realiza a través de la presentación de los estados financieros, teniendo en cuenta las notas que reflejan, de forma detallada y desagregada, la información contable y financiera, para la adecuada toma de decisiones por parte de la administración. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img11.png").img-fluid    
                        p  Definir el objetivo de las políticas: se debe establecer en verbo infinitivo, el fin que persigue el diseño de las políticas contables, que es dar aplicabilidad a la Norma Internacional de Información Financiera. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img12.png").img-fluid    
                        p Relacionar el alcance: expresar los elementos o partidas monetarias que se aplicarán a dicha política, en este sentido, dará aplicación al efectivo y sus equivalentes.  

        p.mt-5 De igual manera, se deben definir los criterios de reconocimiento, medición y presentación del efectivo y equivalentes.


        p Recordemos que, los activos (efectivo y equivalentes al efectivo), son considerados instrumentos financieros bajo la norma internacional; por ello, es indispensable analizar las siguientes normas, con el fin de tener en cuenta las bases de medición, como son costo histórico, valor razonable y costo amortizado, de acuerdo con la clasificación del instrumento:

        .jumbotron.bg-4.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid
            
            h3.text-bg-4.mt-4 Norma Internacional de contabilidad (NIC) 32 - Instrumentos financieros: presentación, que expresa lo siguiente:
            
            p Objetivo: el objetivo de esta norma es establecer principios para presentar los instrumentos financieros como pasivos o patrimonio y para compensar activos y pasivos financieros. 

            p Aplica a la clasificación de los instrumentos financieros (desde la perspectiva del emisor) en activos y pasivos financieros, e instrumentos de patrimonio; en la clasificación de los intereses, dividendos, pérdidas y ganancias relacionadas con ellos, y en las circunstancias que obligan a la compensación de activos y pasivos financieros. 

            p Los principios de esta norma complementan los principios de reconocimiento y medición de los activos y pasivos financieros de la NIIF 9- Instrumentos financieros y a la información a revelar sobre ellos en la NIIF 7- Instrumentos financieros: información a revelar. Consejo Técnico de la contaduría pública (CTCP, 2019a, p.229).
            
        .jumbotron.bg-4.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid
            
            h3.text-bg-4.mt-4 Norma Internacional de Información Financiera (NIIF) 7- Instrumentos financieros: información a revelar

            p Objetivo: 
            .list
                .list__item
                    .list__item__number
                        span 1
                .list__txt    
                    p El objetivo de esta NIIF es requerir a las entidades que, en sus estados financieros, revelen información que permita a los usuarios evaluar:   
                    .list
                        .list__item
                            .list__item__number
                                span a
                        .list__txt    
                            p La relevancia de los instrumentos financieros en la situación financiera y en el rendimiento de la entidad; y 
                    .list
                        .list__item
                            .list__item__number
                                span b
                        .list__txt    
                            p La naturaleza y alcance de los riesgos procedentes de los instrumentos financieros a los que la entidad se haya expuesto durante el periodo y lo esté al final del periodo sobre el que se informa; así como la forma de gestionar dichos riesgos.
 
            .list
                .list__item
                    .list__item__number
                        span 2
                .list__txt    
                    p Los principios contenidos en esta NIIF complementan a los de reconocimiento, medición y presentación de los activos financieros y los financieros de la NIC 32 Instrumentos Financieros: Presentación y de la NIIF 9 Instrumentos Financieros. (CTCP, 2019a, p.229).

        .jumbotron.bg-4.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid
            
            h3.text-bg-4.mt-4 Norma Internacional de Información Financiera (NIIF) 9- Instrumentos financieros.

            p Objetivo: el objetivo de esta Norma es establecer los principios para la información financiera, sobre activos y pasivos financieros, de tal manera que se presente información útil y relevante para los usuarios de los estados financieros, para la evaluación de los importes, calendario e incertidumbre de los flujos de efectivo futuros de la entidad (CTCP, 2019b, p.340).

            p Para ampliar el alcance y lineamientos aplicables, es importante revisar la norma internacional vigente; para ello, explore los siguientes enlaces:
                         
            section.mt-5
                a(href="https://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-discusion-publica/enmienda-a-la-niif-9-instrumentos/doc-ctcp-xl8w9-141" target="_blank").media-link

                    img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p https://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-discusion-publica/enmienda-a-la-niif-9-instrumentos/doc-ctcp-xl8w9-141

        .sub-ecored.mt-5#12
            h2 1.2 Reconocimiento, medición, presentación y revelación
        p.mt-5 Una vez se ha realizado el proceso de reconocimiento de la definición de activos, es importante aplicar los criterios al efectivo y sus equivalentes, teniendo en cuenta lo siguiente:

        .row.justify-content-center
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid    
                        p #[strong Reconocimiento de efectivo y equivalente de efectivo:] la entidad define las partidas que hacen parte del efectivo y sus equivalentes, siendo muy detallada su descripción. Cabe resaltar, que el efectivo hace parte el dinero que se encuentra en caja y las entidades financieras, sea de moneda nacional o extranjera.

                        p Dentro de los equivalentes al efectivo, es fundamental definir qué inversiones hacen parte de este, conforme al tiempo de duración, disponibilidad inmediata y el riesgo de la negociación.

                                         

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img8.png").img-fluid    
                        p #[strong Medición:] la entidad debe registrar la base de medición inicial y posterior del efectivo y equivalentes al efectivo, teniendo en cuenta la normatividad legal vigente. Cabe resaltar, que debe especificarse el manejo, control características y directrices de caja general, caja menor y bancos, haciendo referencia al efectivo.

                        p De igual forma, se establecen los elementos que pertenecen a equivalente al efectivo, directrices, clasificación y manejo. Recuerda que debe definirse lo que corresponde a equivalentes al efectivo y a inversiones, con el fin de dar aplicabilidad a la norma internacional, de acuerdo con las bases establecidas.


            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img9.png").img-fluid    
                        p #[strong Presentación:] se realiza a través de los estados financieros, teniendo en cuenta las políticas contables y normativa vigente. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img10.png").img-fluid    
                        p #[strong Revelación:] la revelación se presenta a través de las notas a los estados financieros, con el fin de proporcionar información clara, comprensible y oportuna para la toma de decisiones.         

        .sub-ecored.mt-5#13
            h2 1.3 Arqueo de caja
        p.mt-5 En el proceso contable se requieren diferenciar los conceptos de la caja general y caja menor, teniendo en cuenta que cada una tiene políticas de manejo y control, de acuerdo con lo establecido por la entidad.

        p Teniendo en cuenta que es un activo muy importante, se deben diseñar e implementar políticas para salvaguardar el activo. Algunas directrices que se pueden implementar, son las siguientes:
 
        .row.justify-content-center
            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img14.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 1
                            .list__txt    
                                p.mb-0 Poseer un software contable para registrar la información contable.   

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img15.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 2
                            .list__txt    
                                p.mb-0 Elegir un responsable de los procesos contables, que garantice la veracidad de la información financiera. 

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img16.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 3
                            .list__txt    
                                p.mb-0 Determinar un tesorero, responsable de administrar el efectivo.

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img17.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 4
                            .list__txt    
                                p.mb-0 Establecer las cuantías máximas y mínimas para el manejo de caja general y caja menor.

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img18.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 5
                            .list__txt    
                                p.mb-0 Consignar oportunamente los dineros recibidos.

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img19.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 6
                            .list__txt    
                                p.mb-0 Verificar los desembolsos realizados.  

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img20.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 7
                            .list__txt    
                                p.mb-0 Elaborar los documentos contables para el soporte de la transacción 

            .col-8
                .card-media.card-border
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img21.png").img-fluid
                        .list
                            .list__item
                                .list__item__bulletNumber
                                    span 8
                            .list__txt    
                                p.mb-0 Realizar arqueos de caja sorpresivos y/o al finalizar el día. 
        p.mt-5 Por lo anterior, es fundamental realizar arqueos de caja, lo cual consiste en analizar y comprobar que la información contable coincida con el efectivo que se encuentra de forma física (billetes, monedas, cheques).  Se debe verificar que no presenten faltantes o sobrantes de caja, de llegar a suceder, se realiza el respectivo ajuste mediante una nota contable. El faltante resulta cuando se realiza el arqueo y se observa que el valor en la caja es menor que el saldo que se refleja en los libros.

        p La entidad elabora el formato para registrar la información obtenida en el arqueo de caja. 
        
        .header-arrow.py-4.my-5
            h3.text-center A continuación, observa el formato guía para su análisis:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img22.svg").img-fluid 

        h3.mt-5 Ejemplo:
        p.mt-5 La empresa Gestión contable SAS tiene como política contable la constitución del fondo de caja menor por valor de $500.000; por lo tanto, se debe registrar la transacción.  La encargada del fondo de caja menor es Ligia Carvajal.

        p La empresa presenta la siguiente información para realizar el reconocimiento y medición de las transacciones, de igual forma, se solicita realizar el reembolso y arqueo de caja menor.
 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img23.svg").img-fluid 

        .list.mt-5
            .list__item
                .list__item__number
                    span 1
            .list__txt    
                p Constitución fondo de caja menor 

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img24.svg").img-fluid 

        .list.mt-5
            .list__item
                .list__item__number
                    span 2
            .list__txt    
                p Reembolso de caja menor.    

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.svg").img-fluid 

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Reintegro de caja menor. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img26.svg").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img27.svg").img-fluid 

        .sub-ecored.mt-5#14
            h2 1.4 Conciliación bancaria
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid 
        
        p La conciliación bancaria es la confrontación y verificación de la información contable registrada por la empresa en la cuenta de bancos, con la otorgada por la entidad financiera en el extracto bancario.

        p Recordemos, que para realizar la conciliación bancaria es importante tener los libros auxiliares actualizados de la cuenta de bancos, notas débito y crédito enviadas por el banco, reporte de cheques girados y consignaciones realizadas, además, del extracto bancario remitido por la entidad financiera; este último, es un documento que expide la entidad financiera, donde se refleja el saldo y los diferentes movimientos (entradas y salidas) de una cuenta de ahorros o corriente, el cual es entregado cada mes a la empresa.

        p Las operaciones comerciales que inciden en el proceso de la conciliación bancaria son los depósitos, notas débitos por compra de chequeras e intereses, notas créditos por préstamos del banco, cheques devueltos, cheques girados en favor de terceros, cheques posfechados, cheques en tránsito.

        .sub-ecored-teme.mt-5
            h3.text-blue Causa de las diferencias entre los libros auxiliares y el extracto bancario: 
        .row.justify-content-center.mt-5
            .col-10             
                hr
                .list
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt    
                        p Transacciones contabilizadas por la empresa y no registradas por el banco. 
                hr
                .list
                    .list__item
                        .list__item__number
                            span 2
                    .list__txt    
                        p Valores que aparecen en el extracto y no han sido contabilizadas por la empresa. En este caso requiere ajustes. 
                hr
                .list
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt    
                        p Errores y omisiones de la empresa y/o del banco. Errores en los libros (Amador, A., 2013, p.2).
                hr

        p.mt-5 Las siguientes, son las etapas que deben seguirse para preparar una conciliación bancaria:
        .row.justify-content-center.mt-5
            .col-10     
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Comparar los recibos de las consignaciones efectuadas y las notas crédito recibidas con las consignaciones y las notas crédito que aparezcan en el extracto bancario. Si hay diferencia, debe precisarse el error y corregirlo.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Confrontar la lista de cheques registrados en los libros auxiliares y las notas débito recibidas con la columna cheques y notas débito del extracto. Las diferencias deben eliminarse.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Totalizar las correcciones de las consignaciones en los libros auxiliares.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Totalizar las correcciones de cheques girados en los libros auxiliares.
        p.mt-5 A continuación, observa la estructura básica de elaboración de la conciliación bancaria (Conciliación bancaria, s.f., párr.14): 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img29.svg").img-fluid 

        .sub-ecored-teme.mt-5
            h3.text-blue Métodos de la conciliación bancaria:
        p.mt-5 #[strong Método saldos encontrados:] este método se basa en la elaboración de la conciliación, empezando con alguno de los dos saldos, (el de banco o el de la empresa), para luego reflejar en una sola columna las diferencias, depósitos o cheques que compensen las discrepancias entre ambos para que, al final, se encuentre en saldo contrario, lo cual resulta ser la finalidad de este método (Palmera, 2015, p. 3). 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img30.svg").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img31.svg").img-fluid 

        h3.mt-5 Ejemplo
        p.mt-5 1.	Realice la conciliación bancaria teniendo en cuenta utilizar el formato básico y aplicar el método “Saldos encontrados” y “Saldos correctos”, con la siguiente información suministrada por la empresa Gestión contable SAS: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img33.svg").img-fluid 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Formato Básico.         
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.svg").img-fluid 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Método saldos correctos:  
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img34.svg").img-fluid 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Método saldos encontrados:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img35.svg").img-fluid 
        p.mt-5 Con el fin de profundizar en el proceso de elaboración de la conciliación bancaria, es importante explorar la Biblioteca SENA y los siguientes enlaces:
        section.mt-5
            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=8047" target="_blank").media-link

                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p •	Angulo, U. (2018). Contabilidad financiera, correlacionado con NIIF. (2a. ed.) Ediciones de la U.   
        .sub-ecored.mt-5#15
            h2 1.5 Ajuste por diferencia en cambio
        p.mt-5 Las empresas se encuentran expuestas al riesgo cambiario, teniendo en cuenta que realizan operaciones en moneda extranjera; con base en ello, es importante aplicar las normas internacionales en el registro de los hechos económicos.

        .jumbotron.bg-4.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid
            
            h3.text-bg-4.mt-4 Norma Internacional de Contabilidad 21. Efectos de las variaciones en las tasas de cambio de la moneda extranjera


            p Objetivo: una entidad puede llevar a cabo actividades en el extranjero de dos maneras diferentes. Puede realizar transacciones en moneda extranjera o bien puede tener negocios en el extranjero. Además, una entidad puede presentar sus estados financieros en una moneda extranjera. El objetivo de esta norma es prescribir cómo se incorporan, en los estados financieros de una entidad, las transacciones en moneda extranjera y los negocios en el extranjero, y cómo convertir los estados financieros a la moneda de presentación elegida. 

            p Los principales problemas que se presentan son la tasa o tasas de cambio a utilizar, así como la manera de informar sobre los efectos de las variaciones en las tasas de cambio dentro de los estados financieros. Consejo Técnico de la contaduría pública (CTCP, 2019c, p.503).
            p Alcance

            p Esta norma se aplicará:

            .list
                .list__item
                    .list__item__number
                        span a
                .list__txt    
                    p Al contabilizar las transacciones y saldos en moneda extranjera, excepto las transacciones y saldos con derivados que estén dentro del alcance de la NIIF 9- Instrumentos financieros; 
            .list
                .list__item
                    .list__item__number
                        span b
                .list__txt    
                    p Al convertir los resultados y la situación financiera de los negocios en el extranjero que se incluyan en los estados financieros de la entidad, ya sea por consolidación o por el método de la participación; y 
            .list
                .list__item
                    .list__item__number
                        span c
                .list__txt    
                    p Al convertir los resultados y la situación financiera de la entidad en una moneda de presentación. (CTCP, 2019c, p.503).

            p Para ampliar el alcance y lineamientos aplicables es importante revisar la Norma Internacional vigente; para ello, explore los siguientes enlaces:
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-5
                    section
                        a(href="https://cutt.ly/FhidlJU" target="_blank").media-link

                            img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                            .media-link-title.ml-4
                                p https://cutt.ly/FhidlJU 
                .col-12.col-md-5
                    section
                        a(href="https://cutt.ly/phidgn3" target="_blank").media-link

                            img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                            .media-link-title.ml-4
                                p https://cutt.ly/phidgn3            
