.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Fierro Martínez, Ángel María (2011). Contabilidad General (4ª ed.). Ecoe Ediciones.
                    
                    td Capítulo 5, página 145.
                    td 
                        a(href="http://www.digitaliapublishing.com.bdigital.sena.edu.co/visor/29895#", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Fierro Martínez, Ángel María (2015). Contabilidad de activos con enfoque NIIF para pymes (3ª ed.). Ecoe Ediciones.
                    
                    td Capítulo 3, página 47.
                    td 
                        a(href="http://www.digitaliapublishing.com.bdigital.sena.edu.co/visor/39427", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver 
                        
                tr
                    td Decreto 2270 de 2019
                    
                    td Decreto
                    td 
                        a(href="http://www.ctcp.gov.co/noticias/2019/presidencia-de-la-republica-expidio-el-decreto-227", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver 

                tr
                    td Elaboración conciliación bancaria
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=JguCZCEl5Jg", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver 

                tr
                    td Elaboración conciliación
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Zq4z-rvXfYw&list=TLPQMTgwOTIwMjBLvU-jF1v5uA&index=2", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver 
